.flight_view{
    -fx-background-color: #EEEEEE;
}
.top_view{
    -fx-background-color: white;
    -fx-background-radius: 0 0 25 25;
}
.top_view Label{
    -fx-font-size: 1.5em;
    -fx-font-weight: bolder;
}
.top_view Button {
    -fx-background-color: linear-gradient(to right, #588b8b,#AAAAAA);
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
}
.listView{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-spacing: 10;
}
.list-cell{
    -fx-background-color: transparent;
}
.list-cell:filled:selected{
    -fx-background-color: #588b8b;
}
.list-cell:filled:hover{
    -fx-background-color: transparent;
}
.scroll-bar:vertical{
    -fx-background-color: rgb(48,58,59);
    -fx-pref-width: 0;
}
.scroll-pane .thumb {
    -fx-background-color: transparent;
    -fx-pref-width: 0;
    -fx-background-radius: 8;
}